<!-- <div  *ngFor="let restaurant of restaurants">
  <app-restaurant-cards [restaurant]="restaurant" style="display: grid; grid-template-columns: 25%,25%,25% ;"> </app-restaurant-cards>
</div> -->
<div style=" background-color:rgb(187, 165, 193);"  class="bgImage">
<div style="justify-content: center;display: flex;padding: 20px; ">
  <!-- <div class="count">
  <div class="stars">
    <ngx-star-rating [(ngModel)]="rating3" [id]="'rating3'" (click)="change()"></ngx-star-rating >
  </div>
  <div>Rating: {{ rating3 }}</div>
</div> -->
  <form class="d-flex justify-content-between align-items-center mb-4">


    <!-- <div class="rating">
      <span class="star" [class.active]="rating >= 1" [class.gold]="gold && rating >= 3" (click)="setRating(1)">★</span>
      <span class="star" [class.active]="rating >= 2" [class.gold]="gold && rating >= 3" (click)="setRating(2)">★</span>
      <span class="star" [class.active]="rating >= 3" [class.gold]="gold" (click)="setRating(3)">★</span>
      <span class="star" [class.active]="rating >= 4" [class.gold]="gold" (click)="setRating(4)">★</span>
      <span class="star" [class.active]="rating >= 5" [class.gold]="gold" (click)="setRating(5)">★</span>
    </div> -->


    <!-- <div class="rating">
      <span class="star" *ngIf="highlightedRating==0 || highlightedRating < 1 " [class.active]="rating >= 1" (click)="setRating(1)">★</span>
      <span style = "color: gold;" class="star"  *ngIf="highlightedRating==01 || highlightedRating >0" [class.active]="rating >= 1" (click)="setRating(1)" >★</span>
      <span class="star" *ngIf="highlightedRating==0 || highlightedRating<2 " [class.active]="rating >= 2" (click)="setRating(2)">★</span>
      <span class="star" style = "color: gold;" *ngIf="highlightedRating==02 || (highlightedRating >0 &&  highlightedRating <3)"[class.active]="rating >= 2" (click)="setRating(2)">★</span>
      <span class="star" *ngIf="highlightedRating==0 || highlightedRating<3 " [class.active]="rating >= 3" (click)="setRating(3)">★</span>
      <span class="star" style = "color: gold;" *ngIf="highlightedRating==03 || (highlightedRating >0 &&  highlightedRating <4)" [class.active]="rating >= 3" (click)="setRating(3)">★</span>
      <span class="star" *ngIf="highlightedRating==0 || highlightedRating<4 " [class.active]="rating >= 4" (click)="setRating(4)">★</span>
      <span class="star" style = "color: gold;" *ngIf="highlightedRating==04 || (highlightedRating >0 &&  highlightedRating <5)" [class.active]="rating >= 4" (click)="setRating(4)">★</span>
      <span class="star" *ngIf="highlightedRating==0 || highlightedRating<5 " [class.active]="rating >= 5" (click)="setRating(5)">★</span>
      <span class="star" style = "color: gold;" *ngIf="highlightedRating==05 || (highlightedRating >0 &&  highlightedRating <3) " [class.active]="rating >= 5" (click)="setRating(5)">★</span>
    </div> -->







    <!-- import { NgxStarRatingModule } from 'ngx-star-rating'; -->

    <!-- <div class="rating">
  <span *ngFor="let star of stars"
        class="star"
        [class.active]="star <= rating"
        [class.highlighted]="star <= highlightedRating"
        (click)="setRating(star)"
        (mouseenter)="highlightRating(star)"
        (mouseleave)="removeHighlight()">
    ★
  </span>
</div> -->

    <div class="search-container d-flex align-items-center">
       <div class="city-select me-2">
        <select [(ngModel)]="currentCity" [ngModelOptions]="{standalone: true}" style="border-radius: 50px 0px 0px 50px; border: groove;    width: 8rem;"  class="form-select " (change)="onMenuChange($event)">
          <option *ngFor="let city of cities" value="{{city}}">{{city}}</option>
        </select>
       </div>


      <input style="    border: groove; color: black;" id="hove" class="form-control me-2 " type="search" placeholder="Search" aria-label="Search" [(ngModel)]="binding" name="search">

      <button style="border-radius: 0px 50px 50px 0px; border: groove;" class="btn btn-light" type="submit" (click)="search()"><i class="fas fa-search" ></i></button>
    </div>
  </form>
</div>

<div  style="justify-content: center;align-items: center; display: flex;" *ngIf="restaurants.length == 0">
<span>
    Not Found!! please check your input
</span>

</div>


<div class="restaurant-grid" *ngIf="restaurants.length > 0">
  <div  *ngFor="let restaurant of restaurants">
    <app-restaurant-cards [restaurant]="restaurant" > </app-restaurant-cards>
  </div>
  </div>
</div>
