<div>
  <app-info-resturant  (sending)="onChange($event)" (feed)="feed($event)" [restaurantId] = "id"></app-info-resturant>
</div>
<hr class="my-4" />

<div *ngIf="!onOpen">
  <app-feedback [restaurantId] = "id" [feed]="feed1" (feed1) = "feed2($event)"></app-feedback>
</div>
<!--
<div>
  <div style="display: flex; justify-content: center;" >
    <button style="display: inherit;" type="button" class="btn btn-light" data-mdb-ripple-color="dark"><mat-icon>map</mat-icon><span>direction</span></button>
    <button style="display: inherit;" type="button" class="btn btn-light" data-mdb-ripple-color="dark"><mat-icon>bookmark</mat-icon>boolmark</button>
    <button style="display: inherit;" type="button" class="btn btn-light" data-mdb-ripple-color="dark"><mat-icon>share</mat-icon>share</button>
    <button style="display: inherit;" type="button" class="btn btn-light" data-mdb-ripple-color="dark"><mat-icon>phone</mat-icon>phone</button>

  </div>
</div> -->
<div *ngIf="onOpen">
<div  style="margin-top: 30px;"  *ngFor="let cuisine of cuisines"  >
  <app-cuisine-cards [cuisine]="cuisine" > </app-cuisine-cards>
</div>
</div>
